%h2.page-title Blog

- @articles.each do |a|
  - article = parse_article(a)
  - if article
    .article
      .date
        - date = article[:date]
        .day
          = date.day.to_ordinal
        .month
          = date.strftime('%B')
        .year
          = date.year
      .textbody
        = markdown(article[:content].join(""))
