%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title CalumGilchrist.co.uk
    %link{ :href => "/css/main.css", :type => "text/css", :rel => "stylesheet" }
    
  %body
    .banner= haml :navbar
    .wrapper
      .content
        = yield
